{% if site.author.avatar %}
  <div class="author__avatar">
    <img src="{{ site.author.avatar | relative_url }}" alt="{{ site.author.name }}" itemprop="image">
  </div>
{% endif %}

<div class="author__content">
  {% if site.author.bio %}
    <p class="author__bio" itemprop="description">
      {{ site.author.bio }}
    </p>
  {% endif %}
  {% if site.author.location %}
    <p class="author__location" itemprop="location">
      {{ site.author.location }}
    </p>
  {% endif %}
</div>

<div class="author__urls-wrapper">
  <button class="btn btn--inverse">{{ site.data.ui-text[site.locale].follow_label | default: "Follow" }}</button>
  <ul class="author__urls social-icons">
    {% if site.author.links %}
      {% for link in site.author.links %}
        <li>
          <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">
            <i class="{{ link.icon }}"></i>
            <span class="label">{{ link.label }}</span>
          </a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</div>